.FSBody {
  height: calc(100vh - var(--header-height));
  width: 100%;
  top: var(--header-height);
  position: relative;
}

.FSContentBody {
  width: calc(100% - var(--sidebar-width));
  margin-left: var(--sidebar-width);
  height: 100%;
  overflow-y: auto;
}