.FSSidebar {
  width: 100%;
  max-width: var(--sidebar-width);
  background-color: var(--color-white);
  border-right: 1px solid var(--color-border);
  height: calc(100vh - var(--header-height));
  position: fixed;
  left: 0;
  bottom: 0;
  top: var(--header-height);
  padding: 0;
  overflow-y: auto;
}

.FSSidebarMenuContainer {
  padding: 40px var(--fs-sidebar-padding);
}


.FSNavMenuDrawer :global .ant-drawer-body {
  padding: 0;
}

.FSNavMenuDrawerHeader {
  width: 100%;
  height: var(--header-height);
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-border);
  padding: 0 20px 0 calc(var(--fs-sidebar-padding) + var(--fs-sidebar-nav-padding));
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: sticky;
  top: 0;
}

.FSHeaderCloseDrawerButton {
  width: 24px;
  height: 24px;
  padding: 0;
}

/* RESPONSIVE STYLES FOR THE  */
@media (max-width: 1199px) {
  .FSSidebar {
    display: none;
  }

  .FSSidebarMenuContainer {
    width: 100%;
    overflow-y: auto;
    height: calc(100vh - var(--header-height));
    padding: 30px var(--fs-sidebar-padding);
  }

  .FSNavMenuDrawerHeader {
    padding: 0 20px;
  }
}

@media (max-width: 575px) {
  .FSNavMenuDrawer :global .ant-drawer-content-wrapper {
    width: 100% !important;
  }
}