.FSHeader {
  height: var(--header-height);
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-border);
  width: 100%;
  padding: 20px 20px 20px calc(var(--fs-sidebar-padding) + var(--fs-sidebar-nav-padding));
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.FSProfileDropdown:global.ant-dropdown .ant-dropdown-menu,
.FSProfileDropdown:global.ant-dropdown-menu-submenu .ant-dropdown-menu {
  border-radius: 16px;
  padding: 24px;
}

.FSProfileDropdown:global.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item,
.FSProfileDropdown:global.ant-dropdown-menu-submenu .ant-dropdown-menu .ant-dropdown-menu-item,
.FSProfileDropdown:global.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-submenu-title,
.FSProfileDropdown:global.ant-dropdown-menu-submenu .ant-dropdown-menu .ant-dropdown-menu-submenu-title {
  padding: 0;
  width: 100%;
  min-width: 225px;
  max-width: 275px;
  /* font-size: 14px;
  line-height: 1.5714285714285714; */
}

.FSProfileDropdown:global.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item:not(:last-child),
.FSProfileDropdown:global.ant-dropdown-menu-submenu .ant-dropdown-menu .ant-dropdown-menu-item:not(:last-child),
.FSProfileDropdown:global.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-submenu-title:not(:last-child),
.FSProfileDropdown:global.ant-dropdown-menu-submenu .ant-dropdown-menu .ant-dropdown-menu-submenu-title:not(:last-child) {
  margin-bottom: 24px;
}


.FSProfileDropdown:global.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item-active {
  background-color: transparent;
}

.FSProfileDropdown:global.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item:hover,
.FSProfileDropdown:global.ant-dropdown-menu-submenu .ant-dropdown-menu .ant-dropdown-menu-item:hover,
.FSProfileDropdown:global.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-submenu-title:hover,
.FSProfileDropdown:global.ant-dropdown-menu-submenu .ant-dropdown-menu .ant-dropdown-menu-submenu-title:hover {
  color: var(--color-purple);
}

.FSProfileDropdown:global.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item-active,
.FSProfileDropdown:global.ant-dropdown-menu-submenu .ant-dropdown-menu .ant-dropdown-menu-item-active,
.FSProfileDropdown:global.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-submenu-title-active,
.FSProfileDropdown:global.ant-dropdown-menu-submenu .ant-dropdown-menu .ant-dropdown-menu-submenu-title-active {
  background-color: transparent;
}

.FSProfileDropdown a.FSHeaderDropdownLogout {
  color: var(--color-error) !important;
}

.FSHeaderDropdownNavIcon {
  width: 20px;
  height: 20px;
}

.FSProfileDropdownButton {
  padding: 0;
  height: auto;
}

.FSProfileDropdownButton:global.ant-btn-text:not(:disabled):not(.ant-btn-disabled):hover {
  color: inherit;
  background-color: transparent;
}

.FSHeaderProfileAvatar {
  margin-right: 8px;
  border: 1px solid var(--color-border)
}

.FSSidebarToggleButton {
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: transparent;
  display: none;
}

.FSSidebarToggleButton:global.ant-btn-text:not(:disabled):not(.ant-btn-disabled):hover {
  background-color: transparent;
}


@media (max-width:1199px) {
  header {
    padding: 20px;
  }

  .FSSidebarToggleButton {
    display: inline-flex;
  }
}